<!-- Main Site Footer-->
<footer id="main-footer"></footer>
<!-- Load jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Load local javascript file-->
<script src="assets/js/app.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108504869-1"></script>
<script type="text/javascript">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108504869-1');
</script>
