doctype html
head
  title Mia's Mother's Day Trip Around the World
  meta(name="viewport", content="width=device-width, initial-scale=1")
  // Load Google Fonts
  link(href="https://fonts.googleapis.com/css?family=Cabin", rel="stylesheet")
  // Load the Material Design Iconic Font - http://zavoloklom.github.io/material-design-iconic-font/index.html
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
  // Load the main stylesheet
  link(rel="stylesheet", href="assets/css/main.processed.css")
body
  include main-nav.pug
