// Menu

header.side-nav
  .nav-wrapper
    h1.nav-header Choose a city
    nav.city-nav
      ul
        li
          a.city-link(href="new-york.html", data-city="new-york") New York
        li
          a.city-link(href="brooklyn.html", data-city="brooklyn") Brooklyn
        li
          a.city-link(href="paris.html", data-city="paris") Paris
        li
          a.city-link(href="bahamas.html", data-city="bahamas") Bahamas
        li
          a.city-link(href="greece.html", data-city="greece") Greece
        li
          a.city-link(href="naples.html", data-city="naples") Naples
        li
          a.city-link(href="rome.html", data-city="rome") Rome
        li
          a.city-link(href="kokomo.html", data-city="kokomo") Kokomo
        li
          a.city-link(href="san-francisco.html", data-city="san-francisco") San Francisco
        li
          a.city-link(href="tuscany.html", data-city="tuscany") Tuscany
          
    .credits
      p.photog-credit
      p Photos // <a href="https://unsplash.com?utm_source=mothersday&utm_medium=referral&utm_campaign=api-credit" target="_blank">Unsplash</a>
      p Made with <a href="https://codepen.io" target="_blank"><i class="zmdi zmdi-codepen"></i> Codepen</a>
          
  
        
          
    //- section.settings
    //-   h1.nav-header Settings
    //-   section.refresh-speed
    //-     label(for="refresh-speed") Slideshow Refresh (in seconds)
    //-     input.refresh(type="text", name="refresh-speed", value="10")
          
// Menu Trigger
.menu-trigger
  p <i class="zmdi zmdi-menu"></i>
  
.overlay-close.hide
